@font-face {
    font-family: "Apex Regular";
    src: url("../assets/font/Apex Regular.otf") format("otf");
   }
body{
    font-family: "Apex Regular";
    font-weight: 100;
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.background{
    z-index: -1000;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    filter: brightness(2);
    top: 0;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 700px) {
    .presentation{
        width: 600px;
        height: 25%;
        text-align: center;
    }
  }
@media screen and (min-width: 699px) {
    .presentation{
        width: 20px;
    }
}
h1{
    color: #b32b32;
}
.presentation{
    width: 600px;
    height: 25%;
    text-align: center;
    line-height: 2;
    letter-spacing: 1.5px;
}



.legendesCards{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.legCard{
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profil{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.invisible{
    display: none;
}

.visible{
    visibility: visible;
}